.container
{
	margin: auto;
	position: absolute;
	left: 0;
    right: 0;
    width: 100%;
	
    background-image: url('icons/pp1.png');
    //background-repeat: no-repeat;
}

#header
{
	margin: auto;
	position: relative;
	left: 0;
    right: 0;
    width: 100%;
    background-color: white;
	color:white;
    font-size: 0;
}

#header-title
{
    margin: auto;
	position: relative;
	left: 0;
    right: 0;
    width: 100%;
	color:black;
    background-color: black;
    font-size: 0;
}

#search-box
{
    position: absolute;
    width: 50%;
    left: 420px;
    top: 0px;
}


#search input[type]
{
    position: absolute;

    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 15px;
    background-color: white;
    background-image: url('icons/searchicon.png');
    background-attachment: absolute;
    background-position: 15px center;
    background-size: 20px auto;
    background-repeat: no-repeat;
    padding: 10px 20px;
    padding-left: 50px;
    outline: none;
}

#myInput {
    background-image: url('/css/searchicon.png'); Add a search icon to input
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul{height:200px; width:100%;}
nav ul{overflow:hidden; overflow-y:scroll;}
  
#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}
  
#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#logo
{
    position: relative;
    height: 145px;
    //width: 210px;
	padding-top: 15px;
    padding-left: 18px;
    cursor:pointer;
}

#mainmenu
{
    position: relative;
    top: 0px;
    padding: 15px 0px;
}

#mainmenu a
{
    font-size: 15px;
}

.menu_links
{
    margin: 0px;
    padding-left: 0px; // padding seems to be inherited wtf???
    //list-style-type: none;
    text-decoration: none;
    //background: #7C8389;
    background: #313131;

    text-align: center;
    //border: 2px solid red;
}

.menu-0
{
    display: inline-block;
    vertical-align: middle;

    padding: 12px 15px;

    //line-height: normal;
}

.menu-1
{
    display: inline-block;
    vertical-align: middle;

    padding: 10px 0px;

    border-left: 2px solid white;
    line-height: normal;
}

.menu-2
{
    display: inline-block;
    vertical-align: middle;

    padding: 10px 15px;

    border-left: 2px solid white;
    line-height: normal;
}

#mainmenu li a
{
    //padding: 12px 15px;
    text-decoration: none; //aparaitito gia na figei i ipogrammisi
}

#mainmenu .menu-1 a
{
    padding: 12px 15px;
}

/* unvisited link */
#mainmenu li a:link {
    color: white;
    //color: black;
}

/* visited link */
#mainmenu li a:visited {
    color: white;
    //color: black;
}

/* mouse over link */
#mainmenu li a:hover {
    color: #F0913D;
}

/* selected link */
#mainmenu li a:active {
    //color: blue;
}


.signup
{
    border:none;
    outline:0;
    text-decoration: none;
    background: blue;

    position: absolute;
    top: 100px;
    right: 15px;

    width: 210px;

    //display: inline-block;
    //vertical-align: middle;
    //padding-top: 5px;
    //padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 8px;
    line-height: normal;
    cursor:pointer;
}

.signup2
{
    border:none;
    outline:0;
    text-decoration: none;
    background: blue;

    position: absolute;
    top: 50px;
    right: 15px;

    width: 210px;

    //display: inline-block;
    //vertical-align: middle;
    //padding-top: 5px;
    //padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 8px;
    line-height: normal;
    cursor:pointer;
}

#before p
{
    line-height: 6px;
    color: white;
    background: blue;
    font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none; //aparaitito gia na figei i ipogrammisi
}


#after p
{
    line-height: 6px;
    color: white;
    background: blue;
    font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none; //aparaitito gia na figei i ipogrammisi
}

#after p::after
{
	padding-left: 10px;
	font-size: 12px;
	color: white;
	content: "\25BC";
}


.signup-blur
{
    position: fixed;
    z-index:2;
    display:none;
    //padding-top:100px;
    //padding-left: 200px;

    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.8)
}

.signup-popup
{
    z-index: 2;
    //position: inherit;
    overflow:hidden;
    position:absolute;
    margin:auto;
    top: 60px;
    right: 0;
    left: 0px;
    background-color:white;

    align-self: middle;

    //margin-top: 60px;
    //padding:0;
    outline:0;
    //height: 495px;
    width:320px;
}

.exit-button
{
    position: absolute;
    color: black;
    right: 15px;
    top: 10px;
    font-size: 20px;

    cursor:pointer;
}

.popup-content
{
    margin: 15px;
}

.popup-content p
{
    color: black;
    line-height: 5px;
}

.popup-content h3
{
    color: black;
    //line-height: 40px;
    padding-bottom: 20px;
}

.input-box input[type]
{
    //position: absolute;

    width: 100%;
    box-sizing: border-box;
    border: 2px solid #dadada;
    //border-radius: 100px;
    font-size: 16px;
    padding: 10px 10px;
    outline: none;
}

input[type=checkbox]
{
    margin-top: 10px;
}

.forgot-password
{
    line-height: 30px;
}

.button
{
    background-color: black;
    color: white;
	border: 2px solid black;
    text-align: center;
    display: inline-block;
    font-size: 15px;
	width: 100%;
	line-height: 40px;
    cursor: pointer;
	text-decoration: none;
}

#signup.button
{
    background-color: white;
    color: black;
}

body
{

    font-size: 15px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body
{
    //opacity: 0.5;
    //filter: brightness(50%);
    background-color: #EBEBEB;
    width: 100px;
    height: 100px;
    overflow: auto;
}

#footer
{

	position: absolute;
    width: 100%;
    bottom: -40px;
    margin-top: 30px;
    font-size: 0;

}

#footer .menu_links
{
    padding: 0px 15px;

    text-align: left;
    background: #f2f2f2;
}

#footer .menu_links .menu-0
{
    padding: 12px 0px;
    padding-right: 15px;
}

#footer .menu_links .menu-1
{
    padding: 12px 15px;
    //border: 2px solid red;
    border-left: 2px dotted white;
}

#last-item
{
    padding: 12px 15px;
    //padding: 10px;
    border-right: 2px dotted white;
}

#copyright
{
    position: absolute;
    top: 0;
    right: 0px;
    border: 0px;
}

#copyright p
{
    margin: 0px;
    color: #696969;
    font-size: 15px;
}

#footer a
{
    //padding: 12px 15px;
    color: #0000CD;
    text-decoration: none;
    font-size: 15px;
}

#footer a:hover
{
    color: #cb4421;
    text-decoration: underline;
}

/* unvisited link */
#mainmenu .dropdown a
{
    text-align: left;
    display: block;
    padding: 5px 20px;
    color: black;
}

/* unvisited link */
#mainmenu .dropdown a:link
{
    color: black;
}

/* visited link */
#mainmenu .dropdown a:visited
{
    color: black;
}

#mainmenu .dropdown a:hover
{
    color: #0000CD;
    text-decoration: underline;
}

.dropdown
{
    display: none;

    padding: 12px 0px;
    margin-top: 12px;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#mainmenu .menu-1:hover .dropdown
{
    display: block;
    width: 100%;
}

#mainmenu .menu-1
{
    position: relative;
}

/* main */
#main
{
    position: relative;
    //display: flex;
    //justify-content: space-between;
    width: 100%;
    font-size: 0;
    margin: 200px 100px;
}

#main2
{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 1;
    margin: 100px 100px;
    padding-left: 20%;
}

#main3
{
    position: relative;
    //display: flex;
    //justify-content: space-between;
    width: 50%;
    font-size: 0;
    right: 5%;
    margin: 100px 0px;
}

#main5
{
    position: relative;
    //display: flex;
    //justify-content: space-between;
    width: 60%;
    font-size: 0;
    margin: 100px 25%;
}

#main4
{
    position: relative;
    //display: flex;
    //justify-content: space-between;
    width: 100%;
    font-size: 0;
    margin: 200px 100px;
}

#maintable
{
    position: relative;
    //display: flex;
    //justify-content: space-between;
    width: 50%;
    font-size: 0;
    margin: 50px 0px;
}

ul.breadcrumb
{
    padding: 0px 15px;
	padding-bottom: 15px;
}

/* breadcrumb */
ul.breadcrumb li
{
    display: inline;
    font-size: 15px;
    color: black;
}

ul.breadcrumb li+li:before
{
    padding: 0px 5px;
    content: ">\00a0";
}

ul.breadcrumb li a
{
    padding: 0px;
    color: #0275D5;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

.panel-content
{
	margin: 0px 0px;
}

.middle
{
    position: relative;
    margin: 10px 30px;
    width: 100%;
    text-align: center;
	overflow: hidden;
    background-color: white;
}

.middle0
{
    position: relative;
    margin: 10px 30px;
    width: 100%;
    text-align: center;
	overflow: hidden;
    background-color: white;
    display: contents;
}

.middle2
{
    position: relative;
    margin: 30px 50%;
    width: 100%;
    text-align: center;
	overflow: hidden;
    background-color: white;
}

.middle3
{
    position: relative;
    margin: 30px 30%;
    width: 100%;
    text-align: center;
	overflow: hidden;
}

.middle4
{
    position: relative;
    margin: 30px 30%;
    width: 100%;
    text-align: center;
	overflow: hidden;
}

.middle5
{
    position: relative;
    margin: 30px 10px;
    width: 100%;
    text-align: center;
	overflow: hidden;
}

.middle .panel-content
{
	text-align: right;
}

.blue-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    
    margin: 10px 10px;
}

.green-button {
    background-color: green;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 10px;
    right: 100%;
}

.index #main
{
	position: relative;
	display: flex;
	justify-content: space-between;
	//width: 200px;
	font-size: 0;
}

.index .middle
{
	width: 400px;
	margin: 0;
    margin-bottom:  0px;
}

.index .middle .panel-title p
{
    text-align: left;
	background: white;
	font-weight: 550;
	padding-left: 0px;
	margin: 0;
	margin-bottom: 0px;
}

.index .middle .panel-content
{
	margin: 0px 0px;
	margin-bottom: 20px;
}

.index .middle .panel-content p
{
	margin: 0px;
	margin-bottom: 10px;
}

.side
{
    width: 225px;
    margin: 15px 15px;
    background: white;
}

.job-title{
    left:200px
    height: 50px;
    background: white;
    width: 100%;
    //border-bottom: 1px solid black;
    text-align: center;
    //line-height: 20px;
    vertical-align: middle;
	margin: 40px 0px;
}

.panel-title
{
    //height: 25px;
    //background: purple;
    width: 100%;
    //border-bottom: 1px solid black;
    text-align: center;
    //line-height: 20px;
    vertical-align: middle;
	margin: 0px;
}

.panel-title p
{
	padding: 10px 15px;
    margin: 0px;
    font-size: 15px;
    font-weight: 500;
    color: #313131;
    background: #ADDDFF;
}

.side-footer
{
    //height: 25px;
    //background: white;
    border-bottom: 1px solid #7C8389;
    text-align: right;
    vertical-align: middle;

}

.side-footer p
{
    padding-right: 10px;
    font-size: 15px;
	margin:3px 0px;
    color: blue;
    background: white;
}

.side-title
{
    background-color: #ccc;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid blue ;

}

.side-title2
{
    background-color: #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid orange ;
}

.content-title
{
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid blue ;
}

.content
{
    width: 100%;
    font-size: 15px;
    color: black;
}

.content p
{
    margin: 0;
    padding-top: 10px;
    color: grey;
}

.content a
{
    //padding: 5px 10px;
    color: black;
    text-decoration: none;
}

.content a p
{
    padding: 0px;
    padding-top: 5px;
    //color: black;
    //text-decoration: none;
}

.content a:hover
{
    text-decoration: underline;
}

.content span
{
    color: black;
}


#useful-links .content-title
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ccc;
}

.middle .type p
{
    text-decoration: underline;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

.middle .panel-content
{
    font-size: 15px;
    color: black;
    text-align: left;
    padding: 0px;
    //margin-top: 5px;
    //margin-bottom: 5px;
}

.middle .input-box
{
    text-align: left;
    //padding-bottom: 10px;
}

.middle .input-box input[type]
{
    width: 240px;
    left: 0px;
	height: 35px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 15px;
    padding: 7px 10px;
    outline: none;
}

.output-box
{
    width: 218px;
    left: 0px;
	height: 19px;
    border: 1px solid black;
    font-size: 15px;
    padding: 7px 10px;
    outline: none;
}


.line
{
    position: relative;
    display: flex;
    justify-content: space-between;
    //width: 200px;
    margin: 0px;
    margin-bottom: 10px;
	color: black;
	font-size: 15px;
	text-align: left;
}

.line p
{
	margin: 0px;
	margin-bottom: 3px;
}


#confirm
{
    position: relative;
    //display: inline-block;
    //width: 140px;
    //margin-left: auto;
    //margin-right: 0;
	margin-bottom: 20px;
    border: none;
    padding: 10px 0px;
    vertical-align: middle;
    background: black;
    color: white;
    cursor: pointer;
	right: 0;
	float:right;
	//clear: both;
	overflow: hidden;
	padding: 0px;
}

#confirm p
{
	padding: 10px 15px;
	font-size: 15px;
	margin: 0px;

}

.input-requirements
{
  padding: 0px;
  font-size: 15px;
  font-style: italic;
  text-align: left;
  list-style: disc;
  list-style-type: none;
  list-style-position: inside;
  //max-width: 400px;
  margin: 0;
  margin: 10px 0px;
  color: rgb(150,150,150);
}

.input-requirements li
{
    //position: absolute;
    font-size: 13px;
    margin: 0px;
    padding-top:2px;
    width: 240px;
    text-align: left;
    left: 0;
}


.input-requirements li.invalid
{
	color: red;
}

.input-requirements li.valid
{
	color: green;
}

.input-requirements li.invalid:after
{
    padding: 0px;
    font-size: 10px;
    display: inline-block;
    padding-left: 5px;
	color: red;
    content: "\2715";
}

.input-requirements li.valid:after
{
    padding: 0px;
    font-size: 10px;
	display: inline-block;
	padding-left: 5px;
	content: "\2713";
}


.service #main
{
    position: relative;
    //display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0;
    margin: 0px 0px;
}

.service .middle
{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;
    width: 450px;
    margin: 0px 15px;
    text-align: center;
}

.service .side
{
	display: inline-block;
	border-right: 1px dotted grey;
}

/*
.service .panel-content
{
	margin-top: 10px;
}
*/

.service .content-title
{
	border: 0px;
}

.service .middle
{
	display: inline-block;
	position: relative;
}

.service .middle .panel-content
{
	text-align: justify;
}

#announcement-extended
{
	width: 600px;
	margin-bottom: 30px;
}

#announcement-extended .panel-content p
{
	text-align: justify;
}

#announcement-extended .panel-title p
{
	text-align: center;
}

#double-panel
{
    z-index: 1;
    //position: inherit;
    overflow:hidden;
    position:absolute;
    margin:auto;
    top: 60px;
    right: 0;
    left: 0px;
    background-color:white;


    align-self: middle;

    //margin-top: 60px;
    //padding:0;
    outline:0;
    //height: 495px;
    min-width:720px;

}

#double-panel-title
{
	text-align: center;
	border-bottom: 2px solid grey;
}

#double-panel-content
{
	display: flex;
	justify-content: space-between;
}


#left
{
	width: 320px;
	display: inline-block;
	position: relative;
	padding: 0px 20px;
	padding-bottom: 20px;

}

#left .forgot-password
{
	line-height: 41px;
}

#between
{
	background: grey;
	width: 2px;
	height: auto;

}


#right
{
	width: 320px;
	display: inline-block;
	position: relative;
	padding: 0px 20px;
}


#right .button
{
	border: 2px solid grey;
	background: grey;
}


/*insurance-view*/
#insurance-view
{
	width: 660px;
	margin: 0px 15px;
	overflow: hidden;
}

#insurance-panel-content
{
	margin-top: 0px;
}

#insurance-panel-content .panel-title p
{
	text-align: left;
}

#subpanel
{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	display: flex;
	text-align: center;
}

.subpanel-content
{
	border: 2px solid black;
	//height: 200px;
	display: inline-block;
	width: 100%;
	text-align: left;
}

.subpanel-content p
{
	margin: 5px 15px;
}

#subpanel .subpanel-content .panel-title
{
	border-bottom: 1px solid black;
}

#subpanel .subpanel-content .panel-title p
{
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #e6e6e6;
}

/* contribution calculator */
#calculator-panel-content.panel-content
{
	 margin-bottom: 30px;
}


#calculator-panel-content p
{
	display: inline-block;
	margin: 0;
}

#calculator-panel-content.panel-content .input-box
{
	 overflow:auto;
	 line-height: 35px;
	 margin-bottom: 15px;
}

#calculator-panel-content.panel-content .input-box input[type]
{

    display: inline-block;
	float: right;
    box-sizing: border-box;
    border: 1px solid black;
    //border-radius: 100px;
    font-size: 16px;
	width: 150px;
    padding: 10px 15px;
    outline: none;
}

#calculator-search
{
	display: inline-block;
	position: relative;
	margin-bottom: 15px;
	width: 100%;

}

#calculator-search input[type]
{


    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
	height: 35px;
    //border-radius: 50px;
    font-size: 15px;
    background-image: url('icons/searchicon.png');
    background-attachment: absolute;
    background-position: 15px center;
    background-size: 15px auto;
    background-repeat: no-repeat;
    padding-left: 50px;
    outline: none;
}

/* result */

#calculator-panel-content.panel-content .output-box
{
	display: inline-block;
	float: right;
	height: 35px;
	padding: 0px;
}

#calculator-panel-content.panel-content .line
{
	margin: 15px 0px;
}

#calculator-panel-content.panel-content .line p
{
	line-height: 37px;
	margin: 0;
	padding: 0px;

}

#calculator-panel-content.panel-content .output-box p
{
	padding: 0px 15px;
}

#calculator-panel-content.panel-content .output-box p::after
{
	padding-left: 10px;
	content: '\20AC';
}

#not-found
{
	margin: 0px 15px;
}

#not-found .panel-title p
{
	background: #ff1329;
	color: white;
}

/* profile */
#inform p
{
	padding: 15px 0px;
	font-size: 15px;
	color: black;
	font-style: italic;
	text-align: left;
	font-weight: 600;
}

#table {
    border-collapse: collapse;
    width: 100%;
    background-color: blue;
    font-size: 15px;
    padding: 10px;
  }
  
#table2 {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: blue;
    font-size: 15px;
    padding: 10px;
  }

#tr, td {
    border: 1px solid orange;
    background-color: white;
    text-align: middle;
    font-size: 15px;
    padding: 50px;
  }

  #tr2{
    border: 1px solid orange;
    background-color: white;
    text-align: middle;
    font-size: 15px;
    margin: 10% 10%;
  }

  #tr2{
    border: 1px solid orange;
    background-color: white;
    text-align: middle;
    font-size: 15px;
    padding: 100px;
  }
  
#th {    
    width: 100px;
    background-color: blue;
    font-size: 100px;
    padding: 10px;
  }
  

#sb2 .signup-popup
{
	width: 200px;
}

#sb2 .signup-popup .popup-content h3
{
	margin-bottom: 10px;
	border-bottom: 2px solid black;
}

#sb2 .signup-popup .popup-content .line
{
	margin-top: 20px;
}

#profile
{
    font-size: 16px;
}

#profile a:link
{
    color: #313131;
	text-decoration: none;
}

/* visited link */
#profile a:visited
{
    color: #313131;
}

#profile a:hover
{
    color: #F0913D;
    text-decoration: underline;
}

#logout a:link
{
}

#logout a:visited
{
}

#logout a:hover
{
    color: red;
}

.service .side a:link
{

}

.service .side a:visited
{
}

.service .side a:hover
{
	color: #F0913D;
}
